/* Сброс отступов и границ по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Центрирование формы */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #2c3e50;
    background-color: #f4f4f4;
    background-image: url('/images/upload.png'); /* Путь к вашему изображению */
    background-size: cover; /* Изображение будет охватывать весь фон */
    background-position: center; /* Центровка изображения */
    background-attachment: fixed; /* Фиксированный фон при прокрутке */
}
h1 {
    text-align: center;
    margin-top:100px
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    margin-top:10px
    margin-bottom: 120px;
}

/* Форма логина и регистрации */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Сообщения об ошибке и успешной регистрации */
div {
    margin-top: 10px;
    text-align: center;
}

div p {
    font-size: 14px;
}

div p[style="color: red;"] {
    color: red;
}

div p[style="color: green;"] {
    color: green;
}